
#body{
  margin: 0;
  padding: 0;
}

#false_nav
{
  display: flex;
  height: 7%;
  width: 100%;
  align-items: center;
}

.background_img
{
  background-image: url("https://img.freepik.com/premium-vector/abstract-blue-hexagon-gradient-background-with-heartbeat-cardiogram-honeycomb-pattern-futuristic-sci-fi-style-modern-medicine-copy-space-vector-illustration_297535-3401.jpg?w=1060");
  background-size: cover;
}

.nav
{
  display: flex;
  flex-direction: row;
  height: 7%;
  width: 100%;
  background-color:black;
  position: fixed;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  
}

#logo_box
{
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#logo_img img
{
 display: flex;
 height: 100%;
 width:100%;

}
#logo_box p{
  margin-left: 20px;
}
.nav_bar_text
{
  display: flex;
  align-items: center;
  height: 100%;
  width: 60%;
  text-align: center;
  justify-content: space-around;
  margin-left: 11%;
}

.nav_bar_text a{
  color: white;
  text-decoration: none;
}
.nav_bar_text a:hover{
  color: salmon;
  transition: all .5s ease 0s;
}
a.active{
  color: salmon;
  border-bottom: solid 3px;
  border-bottom-color:#0CAFFF;
  border-bottom-left-radius : 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  transition: all 1s ease 0s;
}


#p3_upper_body_text
{
  max-width: 70%;
  height: 100%;
  word-wrap: normal;
  font-size: 18;
  text-align: center;
}

#p3_lower_body
{
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row;
  background-color: rgb(1, 0, 0,0.7);
  justify-content: space-between;

}

#p3_lower_body_box1
{
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  margin-left: 3%;
  color: white;
}

#p3_lower_body_box1 form button{
  background-color: blue;
  color: white;
  border-radius: 20px;
  height: 100%;
  width: 40%;
  font-size:large ;
}

#p3_lower_body_box1_lets_talk
{
  display: flex;
  color: white;
  font-size: xx-large;
  height: 20%;
  width: 100%;
}

#p3_lower_body_box1_txt{
  display: flex;
  color: white;
  font-size: large;
  flex-direction: column;
}

#p3_lower_body_quick_links
{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

#p3_lower_body_quick_links a{
  color: #f0f0f0;
  text-decoration: none;
}

#p3_lower_body_community
{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30%;
  color: white;
}
#p3_lower_body_community h2{
  text-align: center;
  margin-left: -30%;
}


#p3_lower_body_community_box1
{
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}


/* icons*/
.logo_box{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
}

.logo_box a{
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 10%;
  color:white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;


}

#logo_container{
  display: flex;
  flex-direction: row;
}
.fa-brands{
  font-size: 40px;
  margin: 3%;
}
.fa-solid{
  font-size: 40px;
  margin: 3%;
}
.nav_bar_text a:hover{
  color: white;
  border-bottom: solid 3px;
  border-bottom-color:#0CAFFF;
  border-bottom-left-radius : 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  transition: all 1s ease 0s;
}
