#body{
  margin: 0;
  padding: 0;
}

#page1
{
  display: flex;
  height: 93%;
  width: 100%;
}

#p1_doctor_img
{
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 25px;

}
#p1_doctor_img img{
  height: 80%;

  align-self: flex-end;
}
#p1_content_box
{
 display: flex;
 height: 100%;
 width: 100%;
 flex-direction: column;
}

#p1_content_box_content
{
 display: flex;
 height: 40%;
 width: 100%;
 flex-direction: column;
}

#p1_content_box_content_heading
{
  width:100%;
  height: 40%;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 42;
  text-align: center;
  text-shadow: 100pc;
}
#most_viral_h{
  margin-top: 3%;
  margin-bottom: -3%;
  margin-left: 2.5%;
}
#p1_content_box_content_body1
{
  height: 50%;
  width: 80%;
  align-self: center;
  font-size: 17px;
}

.p1_card_box
{
  display: flex;
  height:60%;
  width: 100%;
  align-items: center;
  justify-content:space-around; 
}


.card{
  display: flex;
  height: 70%;
  width: 25%;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border: solid ;
  border-color: #c44549;

}

#card_img
{
  display: flex;
  height: 27%;
  width: 27%;
  align-self:center;
}

#card_content
{
  display: flex;
  height: 73%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#page2
{
  display: flex;
  height: 93%;
  width: 100%;
  flex-direction: row;
}

#page_2_body_img{
  height: 100%;
  width: 25%;
}

#p2_content{
  display: flex;
  height: 100%;
  width: 85%;
  flex-direction: column;
}

/* styles.css */
.selected-options-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
/* option displayed on screen*/
.selected-option {
  display: flex;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 20px;
  align-items: center;
}
/*x*/
.selected-option button {
  margin-left: 5px;
  padding: 3px 8px;
  background-color: #ff5f5f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#search-bar {
  display: flex;
  width: 100%;
  overflow-x: auto;
  flex-wrap: wrap;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;

}

#options-list {
  display: flex;
  width: 100%;
  height: 10%;
}

#option_box{
  width: 70%;
  display: flex;
  flex-direction: row;
  background-color: aquamarine

}
#search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#select_sym_txt{
  display: flex;
  font-size: larger;
  text-align: center;
  text-align: justify;
  justify-content: center;
  margin-top: -10%;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
#card_content form{
  text-align: center;
}

#card_content form button {
  height: 100%;
  width: 40%;
  border-radius: 20px;
  border-color: black ;
  background-color: rgb(139, 139, 243);
  justify-self: center;
}
.p2_upper_body
{
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  word-wrap: normal;
  justify-content: center;
}

#p2_lower_body
{
  display: flex;
  height: 60%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
#p2_txt{
  
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 20;
  margin-left: 7%;

}

.p2_card_box
{
  display: flex;
  height:100%;
  width: 100%;
  justify-content:space-around;
}

.p2_card{
  display: flex;
  height: 70%;
  width: 20%;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border: solid;
  border-color: #c44549;

}

.p2_c_content
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  word-wrap: normal;
  
}

.p2_card_data
{
  display: flex;
  word-wrap: normal;
  
}
#page3
{
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
}

#p3_upper_body
{
  display: flex;
  height: 60%;
  width: 100%;

}

#p3_upper_body_image
{
  display: flex;
  height: 170%;
  width: 40%;
  align-self:baseline;
  flex-direction: row;
}

#p3_content_box
{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#p3_upper_body_heading{
  display: flex;
  height: 20%;
  width: 100%;
  max-width: 90%;
  word-wrap: normal;
  align-self: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  
}

#p3_upper_body_text
{
  max-width: 70%;
  height: 100%;
  word-wrap: normal;
  font-size: 18;
  text-align: center;
}