.result_heading{
    height: 12%;
    width: 100%;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top:-2.5%;
}
.card_box{
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: space-evenly;
}
.box1{
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
}

.card{
  display: flex;
  background-color: white;
  height: 60%;
  width: 60%;
  border-radius: 20px;
  align-self: center;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  border: solid 2px;
}
#r_img{
  align-self: center;
  margin-top: 10px;
}
.nav_bar_text a:hover{
  color: salmon;
  border-bottom: solid 3px;
  border-bottom-color:#0CAFFF;
  border-bottom-left-radius : 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  transition: all 1s ease 0s;
}
