{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/about-us.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/global.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Michroma:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mohave:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kantumruy:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="about-us1">
      <img class="about-us-child" alt="" src="./public/rectangle-1.svg" />

      <img
        class="depositphotos-464618606-stock-icon3"
        alt=""
        src="../static/images/public/depositphotos-464618606stockphotomedicalgreenbluecrosspattern-1@2x.png"
      />

      <main class="hero">
        <section class="hero-content">
          <div class="hero-guard">
            <div class="guard-title">
            </div>
            <div class="navigation1">
              <div class="links">
              </div>
            </div>
          </div>
          <div class="vision-mission">
            <div class="vision-content">
              <div class="vision-image">
                <div class="vision-image-wrapper">
                  <div class="vision-image-container">
                    <div class="health-guard-ai-bg-white-remov-wrapper">
                      <img
                        class="health-guard-ai-bg-white-remov-icon3"
                        loading="lazy"
                        alt=""
                        src="../static/images/public/health-guard-ai-bg-whiteremovebgpreview-2@2x.png"
                      />
                    </div>
                    <h2 class="ai-heath-guard1">A.I Heath Guard</h2>
                  </div>
                </div>
                <p class="at-ai-health">
                  At AI Health Guard, we are revolutionizing the healthcare
                  industry by leveraging the power of artificial intelligence to
                  provide comprehensive, accessible, and personalized health
                  monitoring and guidance. Our mission is to empower individuals
                  to take control of their health and well-being with
                  cutting-edge technology that offers accurate insights and
                  timely interventions.
                </p>
              </div>
              <div class="vision-statements">
                <div class="statement-titles">
                  <h1 class="our-vision">Our Vision</h1>
                </div>
                <p class="we-dream-of">
                  We dream of a world where everyone can get the healthcare they
                  need easily. With the help of AI, we want to connect patients
                  and doctors better, so everyone can live healthier and happier
                  lives.
                </p>
              </div>
              <div class="vision-statements1">
                <div class="our-mission-wrapper">
                  <h1 class="our-mission">Our Mission</h1>
                </div>
                <p class="our-mission-is">
                  Our mission is to deliver innovative AI-driven health
                  solutions that are user-friendly, accurate, and affordable. We
                  strive to make healthcare more proactive and preventative,
                  reducing the burden of chronic diseases and improving overall
                  health outcomes.
                </p>
              </div>
              <div class="offer">
                <div class="offer-content">
                  <div class="offer-items">
                    <div class="offer-title">
                      <h2 class="what-we-offer">What we offer ?</h2>
                      <div class="services-title">
                        <div class="services">Services</div>
                      </div>
                    </div>
                  </div>
                  <div class="service-list">
                    <div class="rectangle-parent7">
                      <div class="frame-child6"></div>
                      <div class="service-items">
                        <div class="streamlinehealth-care-2-solid">
                          <img
                            class="icon-set"
                            loading="lazy"
                            alt=""
                            src="../static/images/public/vector.svg"
                          />
                        </div>
                      </div>
                      <div class="personalised-health-tips">
                        Personalised Health Tips
                      </div>
                    </div>
                    <div class="rectangle-parent8">
                      <div class="frame-child7"></div>
                      <div class="mageheart-health-wrapper">
                        <div class="mageheart-health">
                          <img
                            class="hugeiconsai-brain-02"
                            loading="lazy"
                            alt=""
                            src="../static/images/public/hugeiconsaibrain02.svg"
                          />
                        </div>
                      </div>
                      <div class="analyse-your-symptoms">
                        Analyse your Symptoms with AI
                      </div>
                    </div>
                    <div class="rectangle-parent9">
                      <div class="frame-child8"></div>
                      <div class="mageheart-health-container">
                        <div class="mageheart-health1">
                          <img
                            class="carbonreport-icon"
                            loading="lazy"
                            alt=""
                            src="../static/images/public/carbonreport.svg"
                          />
                        </div>
                      </div>
                      <div class="detailed-health-reports">
                        Detailed Health Reports
                      </div>
                    </div>
                    <div class="rectangle-parent10">
                      <div class="frame-child9"></div>
                      <div class="mageheart-health-frame">
                        <div class="mageheart-health2">
                          <img
                            class="mdimedicine-icon"
                            loading="lazy"
                            alt=""
                            src="../static/images/public/mdimedicine.svg"
                          />
                        </div>
                      </div>
                      <div class="experts-advice-with">
                        Expert’s Advice with Medicine Prescription
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <!--<script>
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact-us.html";
        });
      }
      
      var dashboardText = document.getElementById("dashboardText");
      if (dashboardText) {
        dashboardText.addEventListener("click", function (e) {
          // Please sync "Dashboard" to the project
        });
      }
      </script>-->
  </body>
</html>

{% endblock %}