<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Health Guard</title>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Prata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Animation-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index_style.css')}}">
       <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</head>
<body class="background_img" id="body">
  
    <!--NAV BAR-->
    <div class ="nav" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="400">
      
        <!--LOGO BOX-->
        <span id="logo_box">
          <!--LOGO-->
         <img src="{{url_for('static',filename='images/icon/logo.png')}}" alt="logo_img">
          <p>Ai Health Guard</p>
        </span><!--LOGO BOX-->

        <div class="nav_bar_text">
          <a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Home</a>
          <a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %}">About</a>
          <a href="{{ url_for('contact') }}" class="{% if request.endpoint == 'contact' %}active{% endif %}">Contact</a>
          <a href="{{ url_for('dashboard.dashboard') }}" class="{% if request.endpoint == 'dashboard.dashboard' %}active{% endif %}">Dashboard</a>
        </div>
        
    </div> <!--NAV BAR-->
    <div id="false_nav"></div> <!--FALSE NAV BAR-->

    
    <div class="content">
        {% block content %}{% endblock %}
        {% block result %}{% endblock %}
        {% block page1 %}{% endblock %}
        {% block page2 %}{% endblock %}
        {% block page3 %}{% endblock %}
    </div>
    
    <div id="p3_lower_body">

      <!--Page 3 lower Body Bx1 Lets Talk-->
      <div id="p3_lower_body_box1">
            <h2>Let’s Talk</h2>
            <h3>Have any Question or Comments <br> Lets us know</h3>
            <form action="/contact">
              <button type="submit">Contact Us</button>
            </form>
      </div><!--Page 3 lower Body Bx1 Lets Talk-->

      <!--Page 3 lower Body  quick links-->
      <div id="p3_lower_body_quick_links">
            <h2>Quick Links</h2>
            <a href="">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('blog') }}">Blog</a>
            <a href="{{ url_for('developer') }}">Developer</a>
      </div>
      <!--Page 3 lower Body Quick linkes-->
      <!--Page 3 lower Body Our Community-->

      <div id="p3_lower_body_community">
        <h2>Our Community</h2>
        <div id="logo_container">
          <div class="logo_box">
            <i class="fa-brands fa-instagram"><a href="https://www.instagram.com/">Instagram</a></i>
            <i class="fa-brands fa-youtube"><a href="https://www.youtube.com/">Youtube</a></i>
            <i class="fa-brands fa-facebook"><a href="https://www.facebook.com/">Facebook</a></i>
          </div>

          <div class="logo_box">
            <i class="fa-brands fa-github"><a href="https://github.com/">Github</a></i>
            <i class="fa-brands fa-x-twitter"><a href="https://x.com/">Twitter</a></i>
            <i class="fa-solid fa-people-group"><a href="/templates/about.html">About Us</a></i>
          </div>
      </div>

      </div><!--Page 3 lower Body Our Community-->

      
    </div><!--Page 3 lower Body-->

  <script type="text/javascript" src="{{ url_for('static',filename='/script/base.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='script/script.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='script/background.js')}}"></script>
  
  <script type="text/javascript" src="{{ url_for('static',filename='script/script.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='script/background.js')}}"></script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
  <!-- stats.js lib --> 
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

  <!--Animation-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
