{% extends "base.html" %}
{% block page1 %}
    <!--Page 1-->
 <!-- stats - count particles -->
    <div id="page1" class="background_img">
      <!--Page 1 DOCTOR IMAGE-->
       <div id="p1_doctor_img" >
        <img src="../static/images/portrait-3d-male-doctor1.png" alt="doctorimg"> </div>

       <!-- Page 1Content box-->
       <div id="p1_content_box">
         <div id="p1_content_box_content"><!--content-->
              <h1 id="heading1"></h1>
              <div id="p1_content_box_content_body1" class="para_txt">
                <p>AI Health Guard merges artificial intelligence with healthcare to improve medical services' quality and efficiency. By leveraging AI's analytical power, it enables accurate diagnostics, personalized treatment plans, and real-time health monitoring. This innovative approach enhances patient care, reduces medical errors, and optimizes resource allocation. <br>
                  <br> AI Health Guard can analyze vast amounts of medical data swiftly, predict disease outbreaks, and assist in preventive healthcare. It supports healthcare professionals in decision-making and streamlines administrative tasks, ultimately leading to a more effective and patient-centered healthcare system.</p>
              </div>
              <h2 id="most_viral_h"  data-aos="fade-right"  data-aos-duration="1000">Most viral disease nowdays</h2>
          </div><!--content-->
          

              <!-- Page 1 card box-->
          <div class="p1_card_box" data-aos="zoom-in" data-aos-duration="700">
                   <!-- page 1 card 1-->
                  <div class="card">
                     <div id="card_img"> <img src="static\images\icon\p2_c1.png" alt="virus-img"></div>

                     <div id="card_content">
                        <h2>Tuberculosis (TB)</h2>
                        <div class="p2_c_content">
                          <ul><li>Fatigue</li>
                          <li>coughing blood</li>
                          <li>Chills</li>
                          <li>Fever</li>
                          <li>Appetite Loss</li></ul>
                        </div>
                    </div>
                     
                  </div><!--card 1-->

                  <!--page 1 card 2-->
                  <div class="card" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="500">
              
                      <div id="card_img"> <img src="static\images\icon\p2_microscope.png" alt="injection_img">
                      </div>
                      <div id="card_content">
                        <h2>Prevention</h2>
                        <div class="p2_c_content">
                          <ul><li>Stay home. Stay Safe</li>
                              <li>Isolate at home</li>
                              <li>Wear face masks</li>
                              <li>Ventilate the room.</li></ul></div>
                      </div>

                    
                  </div><!--page 1 card 2-->

                  <!--page 1 card 3-->
                  <div class="card" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="1000">
                  
                      <div id="card_img"> <img src="static\images\icon\p2_c3.png" alt="injection_img">
                      </div>
                      <div id="card_content">
                      <h2>Protective Measures</h2>
                      <div class="p2_c_content">
                          <ul><li>Get Vaccination</li>
                              <li>Proper Excecise</li>
                              <li>Take medications at the right time</li>
                              <li>Eat a balanced diet.</li></ul></div>
                      </div>

                  </div><!--Page 1 card 3-->
          </div><!--page 1 card box-->
      </div><!--page 1 Content box-->  
    </div> <!--Page 1-->
    {% block page2 %}
    {% endblock %}
    <!--Page 2-->
    <div id="page2" class="background_img">
          <!--image_Page 2-->
          <div id="page_2_body_img">
            <img src="../static/images/body_2 _img.png" alt="Page 2 image" >
          </div><!--image_Page 2-->

          <!--Page 2 content-->
          <div id="p2_content">
                <!--Page 2 Upper  Body-->
                <!--<div id="p2_upper_body">-->
                      
                  <div class="p2_upper_body" >
                    <h2 id="select_sym_txt"  data-aos="zoom-in">Select the Symptoms</h2>
                    <form id="search-form" action="/search" method="POST"  data-aos="fade-left" data-aos-once="true">
                          <div id ="option_box">
                            <select id="options-list" name="options" multiple>
                                <!-- Options here -->
                                <!-- Add more options as needed -->
                                <option value="abdominal_pain">abdominal pain</option>
                                <option value="abnormal_menstruation">abnormal menstruation</option>
                                <option value="acidity">acidity</option>
                                <option value="acute_liver_failure">acute liver failure</option>
                                <option value="altered_sensorium">altered sensorium</option>
                                <option value="anxiety">anxiety</option>
                                <option value="back_pain">back pain</option>
                                <option value="belly_pain">belly pain</option>
                                <option value="blackheads">blackheads</option>
                                <option value="blister">blister</option>
                                <option value="bloody_stool">bloody stool</option>
                                <option value="blurred_and_distorted_vision">blurred and distorted vision</option>
                                <option value="breathlessness">breathlessness</option>
                                <option value="brittle_nails">brittle nails</option>
                                <option value="bruising">bruising</option>
                                <option value="burning_micturition">burning micturition</option>
                                <option value="chills">chills</option>
                                <option value="chest_pain">chest pain</option>
                                <option value="coma">coma</option>
                                <option value="congestion">congestion</option>
                                <option value="constipation">constipation</option>
                                <option value="continuous_feel_of_urine">continuous feel of urine</option>
                                <option value="continuous_sneezing">continuous sneezing</option>
                                <option value="cough">cough</option>
                                <option value="cramps">cramps</option>
                                <option value="dark_urine">dark urine</option>
                                <option value="dehydration">dehydration</option>
                                <option value="dizziness">dizziness</option>
                                <option value="drying_and_tingling_lips">drying and tingling lips</option>
                                <option value="enlarged_thyroid">enlarged thyroid</option>
                                <option value="excessive_hunger">excessive hunger</option>
                                <option value="extra_marital_contacts">extra marital contacts</option>
                                <option value="fast_heart_rate">fast heart rate</option>
                                <option value="fatigue">fatigue</option>
                                <option value="fluid_overload">fluid overload</option>
                                <option value="foul_smell_of_urine">foul smell of urine</option>
                                <option value="headache">headache</option>
                                <option value="high_fever">high fever</option>
                                <option value="hip_joint_pain">hip joint pain</option>
                                <option value="history_of_alcohol_consumption">history of alcohol consumption</option>
                                <option value="indigestion">indigestion</option>
                                <option value="inflammatory_nails">inflammatory nails</option>
                                <option value="internal_itching">internal itching</option>
                                <option value="irregular_sugar_level">irregular sugar level</option>
                                <option value="irritability">irritability</option>
                                <option value="irritation_in_anus">irritation in anus</option>
                                <option value="itching">itching</option>
                                <option value="joint_pain">joint pain</option>
                                <option value="knee_pain">knee pain</option>
                                <option value="lack_of_concentration">lack of concentration</option>
                                <option value="lethargy">lethargy</option>
                                <option value="loss_of_appetite">loss of appetite</option>
                                <option value="loss_of_balance">loss of balance</option>
                                <option value="loss_of_smell">loss of smell</option>
                                <option value="malaise">malaise</option>
                                <option value="mild_fever">mild fever</option>
                                <option value="mood_swings">mood swings</option>
                                <option value="movement_stiffness">movement stiffness</option>
                                <option value="mucoid_sputum">mucoid sputum</option>
                                <option value="muscle_pain">muscle pain</option>
                                <option value="muscle_wasting">muscle wasting</option>
                                <option value="muscle_weakness">muscle weakness</option>
                                <option value="nausea">nausea</option>
                                <option value="neck_pain">neck pain</option>
                                <option value="nodal_skin_eruptions">nodal skin eruptions</option>
                                <option value="obesity">obesity</option>
                                <option value="pain_behind_the_eyes">pain behind the eyes</option>
                                <option value="pain_during_bowel_movements">pain during bowel movements</option>
                                <option value="pain_in_anal_region">pain in anal region</option>
                                <option value="painful_walking">painful walking</option>
                                <option value="palpitations">palpitations</option>
                                <option value="patches_in_throat">patches in throat</option>
                                <option value="phlegm">phlegm</option>
                                <option value="prominent_veins_on_calf">prominent veins on calf</option>
                                <option value="puffy_face_and_eyes">puffy face and eyes</option>
                                <option value="pus_filled_pimples">pus filled pimples</option>
                                <option value="receiving_blood_transfusion">receiving blood transfusion</option>
                                <option value="receiving_unsterile_injections">receiving unsterile injections</option>
                                <option value="red_spots_over_body">red spots over body</option>
                                <option value="red_sore_around_nose">red sore around nose</option>
                                <option value="redness_of_eyes">redness of eyes</option>
                                <option value="restlessness">restlessness</option>
                                <option value="rusty_sputum">rusty sputum</option>
                                <option value="scurring">scurring</option>
                                <option value="sinus_pressure">sinus pressure</option>
                                <option value="skin_peeling">skin peeling</option>
                                <option value="skin_rash">skin rash</option>
                                <option value="silver_like_dusting">silver like dusting</option>
                                <option value="sinus_pressure">sinus pressure</option>
                                <option value="small_dents_in_nails">small dents in nails</option>
                                <option value="spinning_movements">spinning movements</option>
                                <option value="spotting_ urination">spotting urination</option>
                                <option value="stiff_neck">stiff neck</option>
                                <option value="stomach_bleeding">stomach bleeding</option>
                                <option value="stomach_pain">stomach pain</option>
                                <option value="swelling_joints">swelling joints</option>
                                <option value="swelling_of_stomach">swelling of stomach</option>
                                <option value="swelled_lymph_nodes">swelled lymph nodes</option>
                                <option value="swollen_blood_vessels">swollen blood vessels</option>
                                <option value="swollen_extremeties">swollen extremeties</option>
                                <option value="sunken_eyes">sunken eyes</option>
                                <option value="sweating">sweating</option>
                                <option value="swollen_legs">swollen legs</option>
                                <option value="throat_irritation">throat irritation</option>
                                <option value="toxic_look_(typhos)">toxic look (typhos)</option>
                                <option value="ulcers_on_tongue">ulcers on tongue</option>
                                <option value="unsteadiness">unsteadiness</option>
                                <option value="visual_disturbances">visual disturbances</option>
                                <option value="vomiting">vomiting</option>
                                <option value="watering_from_eyes">watering from eyes</option>
                                <option value="weakness_in_limbs">weakness in limbs</option>
                                <option value="weakness_of_one_body_side">weakness of one body side</option>
                                <option value="weight_gain">weight gain</option>
                                <option value="weight_loss">weight loss</option>
                                <option value="yellow_crust_ooze">yellow crust ooze</option>
                                <option value="yellow_urine">yellow urine</option>
                                <option value="yellowing_of_eyes">yellowing of eyes</option>
                                <option value="yellowish_skin">yellowish skin</option>
                            </select>
                            <button type="submit" class="material-symbols-outlined">search</button>
                          </div>
                        
                        
                    </form>
                    <div class="selected-options-list" id="selected-options-list"></div>
                  </div><!--container-->


                <!--</div>Page 2 Upper  Body-->

                <!--Page 2 Lower  Body-->
                <div id="p2_lower_body">
                      <!--Page 2 Card Box 1-->
                      <p id="p2_txt"  data-aos="zoom-in">Advanced Analysis</p>
                
                      <div class="p2_card_box">
                        <div class="p2_card" data-aos="zoom-in" data-aos-duration="700" >                          
                              <img src="static\images\icon\p2_dibaties_img.png" alt="dibaties-img">
                              <h2>Dibaties Analysis</h2>
                              <p>Monitor blood sugar, maintain a balanced diet, exercise regularly, and consult your doctor to manage and prevent diabetes effectively.</p>
                              <form action="/diabetes"id="check_btn"><button class="check_btn" type="submit">Check</button></form>
                        </div>

                        <div class="p2_card" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="500">
                          <img src="static\images\icon\p2_heart_img.png" alt="heart">
                          <h2>Heart</h2>
                          <p>Monitor blood pressure, cholesterol, heart rate, and lifestyle habits to maintain heart health and prevent cardiovascular diseases.</p>
                          <form action="/heart"id="check_btn"><button class="check_btn" type="submit">Check</button></form>
                        </div>

                        <div class="p2_card" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="700">
                          <img src="static\images\icon\p2_pregnent_women.png" alt="page_2_c3_img">
                                <h2>Pregnancy Checker</h2>
                                  <p>Check blood pressure, glucose, temperature, and heart rate regularly to identify potential pregnancy risks and ensure a healthy pregnancy.</p>
                                  <form action="/pregnancy"id="check_btn"><button class="check_btn" type="submit">Check</button></form>
                        </div>

                      </div><!--Page 2 Card Box 1-->

                </div><!--Page 2 Lower  Body-->

          </div><!--Page 2 Content-->

    </div><!--Page 2-->
    {% endblock %}
    {% block page3 %}
    <!--Page 3-->
    <div id="page3" class="background_img">
          <!--Page 3 Upper Body-->
          <div id="p3_upper_body">
            
              <img src="../static/images/image.png" alt="p3_doctor_img">
            <div id="p3_txt">
              <h2 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000">"Empowering Health Through Symptom-Based Disease Analysis"</h2>

              <p data-aos="zoom-in" data-aos-delay="500" data-aos-easing="ease-in-out" id="p3_txt_2">
                      Thank you for entrusting Health Guard.ai with your health concerns. We understand the importance of accurate information when it comes to your well-being. With our advanced symptom-based disease analysis, we aim to empower you with the knowledge and guidance you need to make informed health decisions. <br> <br>
                      <br><h2>Thank you for choosing Health Guard.ai.</h2><br><h3> We are honored to be your partner in health."</h3>
              </p>

            </div>
          </div><!--Page 3 Upper Body-->
    </div><!--Page 3-->

{% endblock %}